@import "tailwindcss";

@theme {
  --color-pale_orange: #ffd9a6;
  --color-light_orange: #fbb03b;
  --color-orange: #f7931e;
  --font-title: var(--font-playfair);
  --background-image-desktop: url(/pattern-bg.jpg);
}
